.details-layout {
  display: flex;
  min-height: 100vh;
  background: #f5f7fb;
}

/* Sidebar */
.sidebar-area {
  width: 260px;
  background: #fff;
  border-right: 1px solid #eee;
}

/* Content */
.content-area {
  flex: 1;
  padding: 25px;
}

/* Header */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.page-header h3 {
  margin: 0;
  font-weight: 700;
}

.page-header p {
  margin: 0;
  color: gray;
  font-size: 14px;
}

.actions {
  display: flex;
  gap: 10px;
}

/* Cards */
.card-box {
  background: white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/* Grid info */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Flex helpers */
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Table fix */
.table {
  margin: 0;
}




/* style de modal */


/* BACKDROP */
.modal {
  z-index: 1055;
}

.modal-backdrop {
  z-index: 1050;
}

/* MODAL SIZE */
.custom-modal {
  max-width: 460px;
  width: 92%;
}

/* FIX HEIGHT MODAL */
.modal-fixed-height {
  height: 70vh;
  display: flex;
  flex-direction: column;
}

/* SCROLL INTERNE UNIQUEMENT */
.modal-scroll {
  flex: 1;
  overflow-y: auto;
}

/* ITEM COMPACT */
.compact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 8px;
  margin-bottom: 6px;
  background: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  transition: 0.2s;
}

.compact-item:hover {
  background: #f8f9fa;
}

/* AVATAR SMALL */
.avatar-sm {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: linear-gradient(135deg, #0d6efd, #4dabf7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 13px;
}

/* TEXT */
.line-text .name {
  font-size: 12.5px;
  line-height: 1.1;
}

/* BUTTON SMALL */
.btn-xs {
  font-size: 11px;
  padding: 3px 8px;
  border-radius: 6px;
}

/* SEARCH + HEADER CLEAN */
.modal-header {
  padding: 8px 12px;
}

.modal-body {
  padding: 8px !important;
}